{% comment %}theme-check-disable TemplateLength{% endcomment %}
{% comment %}
  Renders bulk order form

  Accepts:
  - results: {Object} Collection or Search object
  - enable_sticky_facet: {Boolean} Shows on the screen as customers scroll up when true
  - enable_filtering: {Boolean} Show filtering when true
  - filter_type: {String} Type of filter
  - enable_filtering_color_swatches: {Boolean} Show color swatches in the filter when true
  - enable_sorting: {Boolean} Show sorting when true
  - enable_viewing: {Boolean} Show layout switcher when true
  - filter_max_items: {Number} Number of items to show more
  - color_swatches_add_label: {Boolean} Add label to color swatches

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
{% endcomment %}

<link rel="stylesheet" href="{{ 'bulk-order.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'bulk-order-form.js' | asset_url }}" defer="defer"></script>
{%- if enable_filtering or enable_sorting or enable_viewing -%}
  {%- if results.performed or results.all_products_count > 0 -%}
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'facets-bulk-order.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{%- endif -%}

{%- liquid
  if enable_filtering or enable_sorting or enable_viewing
    if results.results_count or results.all_products_count > 0
      render 'facets-bulk-order', results: results, filter_type: filter_type, enable_filtering: enable_filtering, enable_filtering_color_swatches: enable_filtering_color_swatches, enable_sorting: enable_sorting, enable_viewing: enable_viewing, enable_sticky_facet: enable_sticky_facet, filter_max_items: filter_max_items, color_swatches_add_label: color_swatches_add_label
    endif
  endif
-%}

<bulk-order-form
  id="bulk-order-form"
  data-id="{{ section.id }}"
>
  <div class="bulk-order-form__error-message-wrapper" role="alert" hidden>
    <span class="bulk-order-form__error-message"></span>
  </div>
  <div class="bulk-order-container">
    <form id="bulk-order-quantities" class="bulk-order-quantities" data-id="{{ section.id }}">
      <div class="bulk-order-body desktop-table" id="bulk-order-body" data-id="{{ section.id }}">
        {% if results.products %}
          {% paginate results.products by 10 %}
            {% for product in results.products %}
              {% for variant in product.variants %}
                <div
                  class="variant-row desktop-table-row"
                  id="variant-{{ forloop.parentloop.index | plus: paginate.current_offset }}-{{ forloop.index }}"
                  data-variant-id="{{ variant.id }}"
                >
                  <div class="variant-image desktop-table-cell">
                    {% if variant.featured_image != blank %}
                      <img
                        alt="{% if variant.title == 'Default Title' %}{{- product.title -}}{% else %}{{- variant.title -}}{% endif %} image"
                        src="{{ variant | image_url: width: 500, height: 500, crop: "center"}}"
                      >
                    {% elsif product.featured_image != blank %}
                      <img
                        alt="
                          {% if variant.title == 'Default Title' %}
                            {{- product.title -}}
                          {% else %}
                            {{- variant.title -}}
                          {% endif %} image
                        "
                        src="{{ product | image_url: width: 500, height: 500, crop: "center"}}"
                      >
                    {% endif %}
                  </div>
                  <div class="variant-title-price desktop-table-cell">
                    <p class="variant-title">
                      {% if variant.title == 'Default Title' %}
                        {{- product.title -}}
                      {% else %}
                        {{ product.title }}
                        {{- variant.title -}}
                      {% endif %}
                    </p>
                    <p class="variant-price">{{- variant.price | money -}}</p>
                  </div>
                  <div class="variant-quantity-input desktop-table-cell">
                    <label for="Quantity-{{ variant.id }}" class="visually-hidden">
                      {{- 'products.product.quantity.label' | t -}}
                    </label>
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.decrease' | t: product: variant.title | escape -}}
                        </span>
                        {% render 'icon', icon: 'minus' %}
                      </button>
                      <input
                        class="quantity__input"
                        type="number"
                        data-quantity-variant-id="{{ variant.id }}"
                        name="quantity-{{ variant.id }}"
                        value="0"
                        {% # theme-check-disable %}
                        data-cart-quantity="{{ cart | item_count_for_variant: variant.id }}"
                        min="0"
                        data-min="{{ variant.quantity_rule.min }}"
                        {% if variant.quantity_rule.max != null %}
                          max="{{ variant.quantity_rule.max }}"
                        {% endif %}
                        step="{{ variant.quantity_rule.increment }}"
                        {% # theme-check-enable %}
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: variant.title | escape }}"
                        id="Quantity-{{ variant.id }}"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.increase' | t: product: variant.title | escape -}}
                        </span>
                        {% render 'icon', icon: 'plus' %}
                      </button>
                    </quantity-input>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
            {% if paginate.next %}
              <div
                class="bulk-order-form-more desktop-table-row current"
                data-next-page="{{ paginate.current_page | plus: 1 }}"
                data-total-pages="{{paginate.pages }}"
              >
                <div class="desktop-table-cell"><a class="more-link" href="{{ paginate.next.url }}">More ⬇</a></div>
              </div>
            {% endif %}
            <div class="hidden desktop-table-row" id="product-list-foot"></div>
          {% endpaginate %}
        {% else %}
          {% paginate results.results by 10 %}
            {% for product in results.results %}
              {% if product.object_type == 'product' %}
                {% for variant in product.variants %}
                  <div
                    class="variant-row desktop-table-row"
                    id="variant-{{ forloop.parentloop.index | plus: paginate.current_offset }}-{{ forloop.index }}"
                    data-variant-id="{{ variant.id }}"
                  >
                    <div class="variant-image desktop-table-cell">
                      {% if variant.featured_image != blank %}
                        <img
                          alt="{% if variant.title == 'Default Title' %}{{- product.title -}}{% else %}{{- variant.title -}}{% endif %} image"
                          src="{{ variant | image_url: width: 500, height: 500, crop: "center"}}"
                        >
                      {% elsif product.featured_image != blank %}
                        <img
                          alt="
                            {% if variant.title == 'Default Title' %}
                              {{- product.title -}}
                            {% else %}
                              {{- variant.title -}}
                            {% endif %} image
                          "
                          src="{{ product | image_url: width: 500, height: 500, crop: "center"}}"
                        >
                      {% endif %}
                    </div>
                    <div class="variant-title-price desktop-table-cell">
                      <p class="variant-title">
                        {% if variant.title == 'Default Title' %}
                          {{- product.title -}}
                        {% else %}
                          {{- variant.title -}}
                        {% endif %}
                      </p>
                      <p class="variant-price">{{- variant.price | money -}}</p>
                    </div>
                    <div class="variant-stock desktop-table-cell">Stock: {{ variant.inventory_quantity }}</div>
                    <div class="variant-quantity-input desktop-table-cell">
                      <label for="Quantity-{{ variant.id }}" class="visually-hidden">
                        {{- 'products.product.quantity.label' | t -}}
                      </label>
                      <quantity-input class="quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: variant.title | escape -}}
                          </span>
                          {% render 'icon', icon: 'minus' %}
                        </button>
                        <input
                          class="quantity__input"
                          type="number"
                          data-quantity-variant-id="{{ variant.id }}"
                          name="quantity-{{ variant.id }}"
                          value="0"
                          {% # theme-check-disable %}
                          data-cart-quantity="{{ cart | item_count_for_variant: variant.id }}"
                          min="0"
                          data-min="{{ variant.quantity_rule.min }}"
                          {% if variant.quantity_rule.max != null %}
                            max="{{ variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ variant.quantity_rule.increment }}"
                          {% # theme-check-enable %}
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: variant.title | escape }}"
                          id="Quantity-{{ variant.id }}"
                        >
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: variant.title | escape -}}
                          </span>
                          {% render 'icon', icon: 'plus' %}
                        </button>
                      </quantity-input>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% if paginate.next %}
              <div
                class="bulk-order-form-more desktop-table-row current"
                data-next-page="{{ paginate.current_page | plus: 1 }}"
                data-total-pages="{{paginate.pages }}"
              >
                <div class="desktop-table-cell"><a class="more-link" href="{{ paginate.next.url }}">More ⬇</a></div>
              </div>
            {% endif %}
            <div class="hidden desktop-table-row" id="product-list-foot"></div>
          {% endpaginate %}
        {% endif %}
      </div>
    </form>
    <div class="add-to-cart-container page-width">
      <button
        id="bulk-order-form__submit"
        type="submit"
        name="bulkorderadd"
        form="bulk-order-quantities"
        class="bulk-order-form__submit button button--small"
      >
        Add all to cart
      </button>
    </div>
  </div>
</bulk-order-form>
