{% comment %} Search Template for Bulk Order Form - Designed By Symmetry Commerce {% endcomment %}

{%- liquid
  assign enable_sticky_facet = true
  assign enable_sorting = true
  assign enable_viewing = true
  assign enable_filtering = true
  assign enable_filtering_color_swatches = true
  assign filter_max_items = 5
  assign color_swatches_add_label = true

  if search.results_count > 100000
    assign enable_filtering = false
  endif
-%}

{{ 'template-search.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}

{%- if enable_sticky_facet -%}
  <link rel="stylesheet" href="{{ 'component-facet-sticky.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<div class="template-search{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %} section--padding">
  <div class="page-width center">
    {%- if search.performed -%}
      <h1 class="h2">{{ 'templates.search.title' | t }}</h1>
    {%- else -%}
      <h1 class="h2">{{ 'general.search.search' | t }}</h1>
    {%- endif -%}
    <div class="template-search__search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search
          data-loading-text="{{ 'accessibility.loading' | t }}"
          data-per-page="{{ settings.predictive_search_per_page }}"
        >
      {%- endif -%}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
        <div class="field">
          <button
            type="submit"
            class="search__button focus-inset"
            aria-label="{{ 'general.search.search' | t }}"
            tabindex="-1"
          >
            {% render 'icon', icon: 'search-alt' %}
          </button>
          <input
            class="search__input field__input"
            id="Search-In-Template"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.placeholder' | t }}"
            {%- if settings.predictive_search_enabled %}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {% endif -%}
          >
          <label class="visually-hidden" for="Search-In-Template" aria-hidden="true">
            {{- 'general.search.search' | t -}}
          </label>
          <input type="hidden" name="type" value="{{ settings.search_results }}">
          <input type="hidden" name="options[prefix]" value="last">
          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search__loading-state">
              {% render 'icon', icon: 'spinner' %}
            </div>
            <div
              class="predictive-search predictive-search--search-template"
              tabindex="-1"
              data-predictive-search
            ></div>
            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>

            {%- if settings.search_recommendation != blank and settings.search_recommendation.links != blank -%}
              <ul class="search__recommendation list-unstyled">
                {%- for link in settings.search_recommendation.links -%}
                  <li class="menu-item{% if link.links != blank %} is-parent{% endif %}">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                    {%- if link.links != blank -%}
                      <ul class="list-unstyled">
                        {%- for childlink in link.links -%}
                          <li>
                            <a href="{{ childlink.url }}">
                              {{ childlink.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          {%- endif -%}

          {%- if settings.predictive_search_enabled -%}
            <button type="reset" class="search__button focus-inset">{{ 'general.search.clear' | t }}</button>
            <button
              type="button"
              class="search__button focus-inset"
              aria-label="{{ 'accessibility.close' | t }}"
              tabindex="-1"
            >
              {% render 'icon', icon: 'close-alt' %}
            </button>
          {%- endif -%}
        </div>
      </form>
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}
    </div>
  </div>
  <div class="section--padding">
    <div class="product-grid-container">
      {% render 'bulk-order',
        results: search,
        enable_filtering: enable_filtering,
        enable_sorting: enable_sorting,
        enable_sticky_facet: enable_sticky_facet,
        enable_filtering_color_swatches: enable_filtering_color_swatches,
        enable_viewing: enable_viewing,
        filter_max_items: filter_max_items,
        color_swatches_add_label: color_swatches_add_label
      %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
